body {
    background-color:black;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1 {
    color:#ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:400%;
    text-align: center;
}

.circleContainer {
    top: 50%;
    left: 50%;
    width:20em;
    height:20em;
    margin-top: -10em; /*set to a negative number .5 of your height*/
    margin-left: -10em; /*set to a negative number .5 of your width*/
    border: 1em solid #ffffff;
    border-radius:50%;
    background-color: rgba(255, 255, 255, .1);
    position:fixed;
    text-align:center;
}

.hand{
    /*background: color #000000;*/
    position:float;
}

#secondsHand {
    /* Positioning */
    margin-top:9.6em;  /* set to half of circle height - height of hand = (20 - 10 - .4) */
    margin-left:.5em;   
    width:9.5em; /* set to half of circle width - margin-left */
    height:.2em;
    transform-origin: right;
}

#minutesHand {
    /* Positioning */
    margin-top:-.3em;  /* set to negative of half of height of above element = (.6 / 2 * -1) */
    margin-left:.5em;
    width:9.5em; /* set to half of circle width - margin-left = 20-.5*/
    height:.6em;
    transform-origin: right;
}

#hoursHand {
    /* Positioning */
    margin-top:-.6em;  /* set to negative of half of height of above elements = ((2 * .6) / 2 * -1) */
    margin-left:3.4em; /* = .3 + 10 - 6.8*/
    width:6.8em; /* set to half of circle width - margin-left = 20-.5*/
    height:.6em;
    transform-origin: right;
}
