body {
    background-color:black;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1 {
    color:#ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:400%;
    text-align: center;
}

.circleContainer {
    top: 50%;
    left: 50%;
    width:20em;
    height:20em;
    margin-top: -10em; /*set to a negative number .5 of your height*/
    margin-left: -10em; /*set to a negative number .5 of your width*/
    border: 1em solid #ffffff;
    border-radius:50%;
    background-color: rgba(255, 255, 255, .1);
    position:fixed;
    text-align:center;
}

#secondsHand {
    background: color #000000;;
    /* Positioning */
    margin-top:9.5em;  /* set to half of circle height - height of hand */
    margin-left:.5em;
    width:9.5em; /* set to half of circle width - margin-left */
    height:.5em;
    transform-origin: right;
    
}