:root {
    --base: rgb(229,90,8);
    --blur: 0px;
    --spacing: 10px;
}

/*
    TAGS
*/
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    text-align: center;
}

/*
    TYPOGRAPHY
*/
h2 {
    font-size:250%;
}
.highlight {
    color: var(--base);
}

/*
    CUSTOM CLASSES
*/
.control-elements{
    margin-bottom: 24px;
}

.image {
    width:80%;
    max-width:720px;
    background-color: var(--base);
    padding: var(--spacing);
    filter: blur(var(--blur));
}